package com.malli.{{ project_package }}.repository;

import com.malli.{{ project_package }}.domain.{{ entity }};
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;

@Repository
public interface {{ entity }}Repository extends JpaRepository<{{ entity }}, Integer> {
	
}
