sonar.organization=##YOUR_ORGANIZATION##
sonar.projectKey=##YOUR_ORGANIZATION##_{{ project_slug }}
sonar.sources=src/main/java/
sonar.language=java
sonar.java.binaries=target/classes
{% if CI_type == 'Github Actions' %}sonar.jacoco.reportPath=target/jacoco.exec{% endif %}
sonar.exclusions=**/domain/**,**/config/**,**/exception/**,**/{{project_name_combined}}Application.java