apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ project_slug }}
  labels:
    app: {{ project_package }}
spec:
  selector:
    matchLabels:
      app: {{ project_package }}
  template:
    metadata:
      labels:
        app: {{ project_package }}
    spec:
      containers:
        - name: {{ project_package }}
          image: {% raw %}{{ .Values.image.repository }}{% endraw %}
          pullPolicy: IfNotPresent
          livenessProbe:
            httpGet:
              port: {% raw %}{{ .Values.service.port }}{% endraw %}
              path: /actuator/health/liveness
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              port: {% raw %}{{ .Values.service.port }}{% endraw %}
              path: /actuator/health/readiness
            initialDelaySeconds: 60
            periodSeconds: 10
          #resources:
          #  {% raw %}{{- toYaml .Values.resources | nindent 12 }}{% endraw %}
          ports:
            - containerPort: {% raw %}{{ .Values.service.port }}{% endraw %}