apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ project_slug }}
  labels:
    app: {{ project_package }}
spec:
  replicas: 2
  strategy:
     type: RollingUpdate
  selector:
    matchLabels:
      app: {{ project_package }}
  template:
    metadata:
      labels:
        app: {{ project_package }}
    spec:
      containers:
        - name: {{ project_package }}
          image: {% if container_registery == "DockerHub" %}##REGISTRY_USERNAME##{% else %}##YOUR_CONTAINER_REGISTRY##{% endif %}/{{ project_slug }}:##TAG##
          livenessProbe:
            httpGet:
              port: {{ server_port }}
              path: /{{ project_slug }}/v1/actuator/health/liveness
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              port: {{ server_port }}
              path: /{{ project_slug }}/v1/actuator/health/readiness
            initialDelaySeconds: 60
            periodSeconds: 10
          ports:
            - containerPort: {{ server_port }}
          {% if is_db_required == 'Yes' %}env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: {{ project_package }}-db-credentials
                  key: database-url
            - name: DATABASE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ project_package }}-db-credentials
                  key: database-username
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ project_package }}-db-credentials
                  key: database-password{% endif %}
