apiVersion: v1
kind: Secret
metadata:
  name: {{ project_package }}-db-credentials
type: Opaque
data:
  database-url: ##DATABASE_URL##
  database-username: ##DATABASE_USERNAME##
  database-password: ##DATABASE_PASSWORD##
