{# For simplicity ... -#}

{% macro slugify(value) -%}
{{ value|lower|replace(' ', '-') }}
{%- endmacro %}

{% macro project_name_combined(value) -%}
{{ value|title|replace(' ', '') }}
{%- endmacro %}

{% macro project_package(value) -%}
{{ value|lower|replace(' ', '') }}
{%- endmacro %}

{% macro get_entity_name(value) -%}
{{ value.split(' ')[0]|capitalize }}
{%- endmacro %}