package {{ group_id }}.{{ project_package }}.domain.response;

import com.fasterxml.jackson.annotation.JsonProperty;

public record {{ entity }}StatusResponse(String status, @JsonProperty("service_name") String serviceName, @JsonProperty("created_by") String createdBy) {
}
