services:
  {% if db == 'MySQL' %}
  mysql:
    image: 'mysql:latest'
    environment:
      - 'MYSQL_DATABASE={{ db_name }}'
      - 'MYSQL_PASSWORD=mysql@123'
      - 'MYSQL_ROOT_PASSWORD=root@123'
      - 'MYSQL_USER=mysql'
    ports:
      - "3306:3306"
    volumes:
      - {{project_package}}-dbdata:/var/lib/mysql
  {% endif %}  
  {% if db == 'PostgreSQL' %}  
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB={{ db_name }}'
      - 'POSTGRES_PASSWORD=postgres@123'
      - 'POSTGRES_USER=postgres'
    ports:
      - "5432:5432"
    volumes:
      - {{project_package}}-dbdata:/var/lib/postgresql/data
  {% endif %}  
  {% if db == 'MongoDB' %}  
  mongodb:
    image: mongo
    container_name: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongo
      MONGO_INITDB_ROOT_PASSWORD: mongo123
      MONGO_INITDB_DATABASE: springmongo
    ports:
      - '27017:27017'
    volumes:
      - {{project_package}}-dbdata:/data/db
  {% endif %} 


volumes:
  {{project_package}}-dbdata:
    driver: local