<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<parent>
		<groupId>org.springframework.boot</groupId>
		<artifactId>spring-boot-starter-parent</artifactId>
		<version>3.2.0</version>
		<relativePath/> <!-- lookup parent from repository -->
	</parent>
	<groupId>{{ group_id }}</groupId>
	<artifactId>{{ project_slug }}</artifactId>
	<version>{{ version }}</version>
	<name>{{ project_name }}</name>
	<description>{{ project_description }}</description>
	<developers>
		<developer>
			<name>{{ created_by }}</name>
		</developer>
	</developers>
	<properties>
		<java.version>17</java.version>
		<springdoc-openapi-ui>2.0.4</springdoc-openapi-ui>
		{% if docker == 'Yes' %}
		<docker.image.prefix>{% if container_registery == "DockerHub" %}registry.hub.docker.com{% else %}##YOUR_CONTAINER_REGISTRY##{% endif %}</docker.image.prefix>
        <container.image>openjdk:17-alpine</container.image>
		<jib-maven-plugin.version>3.3.0</jib-maven-plugin.version>
		{% endif %}
		<!--<git-commit-id-maven-plugin-version>6.0.0</git-commit-id-maven-plugin-version>-->
	</properties>
	<dependencies>
		<dependency>
			<groupId>org.springframework.boot</groupId>
			<artifactId>spring-boot-starter-actuator</artifactId>
		</dependency>
		<dependency>
			<groupId>org.springframework.boot</groupId>
			<artifactId>spring-boot-starter-validation</artifactId>
		</dependency>
		<dependency>
			<groupId>org.springframework.boot</groupId>
			<artifactId>spring-boot-starter-web</artifactId>
		</dependency>
		{% if is_db_required == 'Yes' %}
		<dependency>
			<groupId>org.springframework.boot</groupId>
			<artifactId>spring-boot-starter-data-jpa</artifactId>
		</dependency>
		{% if db == 'MySQL' %}
		<dependency>
			<groupId>com.mysql</groupId>
			<artifactId>mysql-connector-j</artifactId>
			<scope>runtime</scope>
		</dependency>
		{% endif %}
		{% if db == 'PostgreSQL' %}
		<dependency>
			<groupId>org.postgresql</groupId>
			<artifactId>postgresql</artifactId>
			<scope>runtime</scope>
		</dependency>
		{% endif %}
		<dependency>
      		<groupId>org.springframework.boot</groupId>
      		<artifactId>spring-boot-docker-compose</artifactId>
      		<scope>runtime</scope>
      		<optional>true</optional>
    	</dependency>
		{% endif %}
		<dependency>
			<groupId>org.projectlombok</groupId>
			<artifactId>lombok</artifactId>
			<optional>true</optional>
		</dependency>
		<dependency>
			<groupId>org.springdoc</groupId>
			<artifactId>springdoc-openapi-starter-webmvc-ui</artifactId>
			<version>${springdoc-openapi-ui}</version>
		</dependency>
		<dependency>
			<groupId>org.springframework.boot</groupId>
			<artifactId>spring-boot-starter-test</artifactId>
			<scope>test</scope>
		</dependency>
		{% if is_db_required == 'Yes' %}
		<dependency>
			<groupId>com.h2database</groupId>
			<artifactId>h2</artifactId>
			<scope>runtime</scope>
		</dependency>
		{% endif %}
	</dependencies>

	<build>
		<plugins>
			<plugin>
				<groupId>org.springframework.boot</groupId>
				<artifactId>spring-boot-maven-plugin</artifactId>
				<configuration>
					<excludes>
						<exclude>
							<groupId>org.projectlombok</groupId>
							<artifactId>lombok</artifactId>
						</exclude>
					</excludes>
				</configuration>
			</plugin>
			{% if docker == 'Yes' %}
			<plugin>
				<artifactId>jib-maven-plugin</artifactId>
				<groupId>com.google.cloud.tools</groupId>
				<version>${jib-maven-plugin.version}</version>
				<configuration>
					<from>
						<image>${container.image}</image>
					</from>
					<to>
						<image>${docker.image.prefix}{% if container_registery == 'DockerHub' %}/##REGISTERY_USERNAME##{% endif %}/${project.artifactId}</image>
					</to>
				</configuration>
			</plugin>
			{% endif %}	
			<!--<plugin>
				<groupId>io.github.git-commit-id</groupId>
				<artifactId>git-commit-id-maven-plugin</artifactId>
				<version>${git-commit-id-maven-plugin-version}</version>
			</plugin>-->
			<plugin>
            	<groupId>org.apache.maven.plugins</groupId>
            	<artifactId>maven-checkstyle-plugin</artifactId>
            	<version>3.3.0</version>
            	<configuration>
                	<configLocation>${basedir}/src/main/resources/checkstyle/checkstyle.xml</configLocation>
					<consoleOutput>true</consoleOutput>
            	</configuration>
				<executions>
        			<execution>
						<id>validate</id>
						<phase>validate</phase>
            			<goals>
                			<goal>check</goal>
            			</goals>
       			 	</execution>
    			</executions>
        	</plugin>
			{% if sca == 'Yes' and CI_type == 'Github Actions' %}
			<plugin>
				<groupId>org.jacoco</groupId>
				<artifactId>jacoco-maven-plugin</artifactId>
				<version>0.8.8</version>
				<executions>
					<execution>
						<goals>
							<goal>prepare-agent</goal>
						</goals>
					</execution>
					<!-- attached to Maven test phase -->
					<execution>
						<id>report</id>
						<phase>test</phase>
						<goals>
							<goal>report</goal>
						</goals>
					</execution>
				</executions>
			</plugin>
			{% endif %}
		</plugins>
		<finalName>{{ project_slug }}</finalName>
	</build>
</project>
