apiVersion: v1
kind: Service
metadata:
  name: {{ project_slug }}
  labels:
    app: {{ project_package }}
spec:
  type: ClusterIP
  ports:
    - name: app-port
      port: {{ server_port }}
      targetPort: {{ server_port }}
      protocol: TCP
  selector:
     app: {{ project_package }}