replicaCount: 1

image:
  repository: mallireddy1998/{{ project_slug }}

service:
  type: ClusterIP
  port: {{ server_port }}


resources: 
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi