package {{ group_id }}.{{ project_package }}.controller;

import {{ group_id }}.{{ project_package }}.domain.response.ApiResponse;
import {{ group_id }}.{{ project_package }}.domain.response.{{ entity }}StatusResponse;
import {{ group_id }}.{{ project_package }}.service.{{ entity }}Service;
import io.swagger.v3.oas.annotations.tags.Tag;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;


@RestController
@RequestMapping("/{{ entity.lower() }}")
@Tag(name = "{{ entity }}Controller", description = "{{ entity }} management APIs")
public class {{ entity }}Controller {

    @Autowired
    private {{ entity }}Service {{ entity.lower() }}Service;

    @GetMapping("/status")
    public ApiResponse<{{ entity }}StatusResponse> showStatus() {
        {{ entity }}StatusResponse {{ entity.lower() }}StatusResponse = new {{ entity }}StatusResponse("UP", "{{ project_slug }}", "{{ created_by }}");
        return ApiResponse.success("200", ApiResponse.Status.SUCCESS.toString(), {{ entity.lower() }}StatusResponse);
    }

}
