package {{ group_id }}.{{ project_package }}.service;

{%- if is_db_required == 'Yes' %}
import {{ group_id }}.{{ project_package }}.repository.{{ entity }}Repository;
import org.springframework.beans.factory.annotation.Autowired;
{%- endif %}
import org.springframework.stereotype.Service;

@Service
public class {{ entity }}Service {	
	{%- if is_db_required == 'Yes' %}
	@Autowired
   	private {{ entity }}Repository {{ entity.lower() }}Repository;
	{%- endif %}	
}
