package com.malli.{{ project_package }}.domain.entity;


import jakarta.persistence.Entity;
import jakarta.persistence.Table;
import lombok.Builder;
import lombok.Getter;
import lombok.Setter;

@Getter
@Setter
@Builder
@Entity
@Table(name = "{{ entity|lower }}")
public class {{ entity }} extends BaseEntity {
	
	private String name;
}