package com.malli.{{ project_package }}.domain.entity;


import jakarta.persistence.*;


@Entity
@Table(name = "{{ entity|lower }}")
public class {{ entity }} {
	
	@Id
	@GeneratedValue(strategy = GenerationType.AUTO)
	private Integer id;
	private String name;
}