package {{ group_id }}.{{ project_package }}.repository;

import {{ group_id }}.{{ project_package }}.domain.entity.{{ entity }};
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;

@Repository
public interface {{ entity }}Repository extends JpaRepository<{{ entity }}, Integer> {
	
}
